<service>
	<serviceName>marti</serviceName>
	<serviceDescription>Muestra los titulares de Marti Noticias y permite leer las noticias</serviceDescription>
	<creatorEmail>libbie1996@gmail.com</creatorEmail>
	<serviceCategory>informativo</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto ponga la palabra marti

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: marti

			Recibir&aacute; un email con los titulares del periodico Marti Noticias, desde el cual puede leer las noticias.
		]]>
	</serviceUsage>
</service>