.materialboxed{
    display: inline;
}
.chip.small{
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
}
.collection, .collection-item {
    border: 1px solid #F8F8F8;
  
}
.collection {
    border-top: none;
    border-bottom: none;
}
.collection-item:first-of-type {
    border-top: none;
    padding-top: 0px;
}
.collection-item:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
}
.responsive-img {
    width: 100%;
}

.collection-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#article > * {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#logo {
    max-height: 30px;
    width: auto;
    line-height: 0px;
    position: RELATIVE;
    bottom: -3px;
}

#footer {
    padding:20px 0px; 
    margin-top:20px;
}

.row{
  margin-bottom: 0px;
}

.divider {
  height: 1px;
}

#categoria-servicio{
  position: absolute;
  right: 12px;
  bottom: 0px;
}
.relative{position: relative;}

a, p{margin-bottom: 10px}

#footer{
    height: 60px;
}
