<!-- MENU -->

<div class="row">
    <div class="col s12 flow-text relative">
        <a href="#home" onclick="apretaste.send({'command':'MARTI'})">
            <img id="logo" class="responsive-img" src="{{APP_SERVICE_PATH}}/images/marti-logo.png">
        </a>
        <i><small class="grey-text" id="categoria-servicio">Informativo</small></i>
        <div class="divider"></div>
    </div>
</div>

{{APP_TEMPLATE_CODE}}

<!-- FOOTER -->
<!-- this footer just add some space to facilitate reading -->
<div id="footer">
</div>