<div class = "row">
    <div class = "col s12">
	<h1><%= title %></h1>
    <p><%= body %></p>
    
    <div class = "fixed-action-btn">
			<a class = "btn-floating btn-large waves-effect waves-light green" href = "#!" 
                    onclick = "apretaste.send({'command':'MARTI'})">
                <i class = "material-icons">arrow_back</i>
            </a>
		</div>
    </div>
</div>
